#match-photo {
	width: 200px;
}

.jumbotron h1 {
	font-size: 36px;
}

.jumbotron h2 {
	font-size: 30px;
	font-weight: 400;
}

.jumbotron h4 {
	font-size: 18px;
}

.friend-list img {
	width: 200px;
	height: 180px;
}

.friend-list .card {
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.friend-list .card:hover {
	box-shadow: 0 0 20px 10px rgba(0,0,0,.5);
}

@media screen and (min-width: 768px) {
	.jumbotron h1 {
		font-size: 63px;
	}
}